


#mainheader{
background-color: #8C0095; 
border-bottom: 1px solid #e5e5e5; 
height: 120px; 
padding-top: 2px;
text-align: center;
}


#mainfooter{
background-color: #8C0095; 
height: 111px; 
}

#mainContent{
min-height: 480px; 
border: 5px solid #e5e5e5; 
background: white;
}