@(game: List[Game], gameForm: Form[(String,String,String,String,java.util.Date,Int)])

@import helper._

@main("JRPG-Releases") {




<div class="container well">
  <div id="mainContent">


    <div class="accordion" id="accordion2">


      @for((game,index) <- game.zipWithIndex){

  <script type="text/javascript">
  $(document).ready(function () {
var data@index = [
  {
    value: @game.rating,
    color:"#F7464A"
  },
  {
    value : 100 - @game.rating,
    color : "#FFFFFF"
  }

]



//Get context with jQuery - using jQuery's .get() method.
var ctx = $("#myChart@index").get(0).getContext("2d");
//This will get the first returned node in the jQuery collection.
var myNewChart@index = new Chart(ctx).Doughnut(data@index);


      });
</script>


      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse@index" style ="height:220px"> 
            <div class= "span4">

              <div style="width: 300px; padding-top:20px;">
                <img src="/assets/images/@game.image">
              </div>
            </div>
            <div style ="border: 5px solid #e5e5e5; height:200px;">

             <h2 class="span3">@game.label</h2>

             <h2 class="span3 offset1">@game.releasedate</h2>
             <div>

               <div class="span2" style ="padding-top:80px">
              <button style="width: 200px" class="btn btn-danger" type="submit">
                Expand <i class="icon-arrow-down icon-white"></i>
              </button>
            </div>
           
              <canvas class="offset2" id="myChart@index" width="130" height="130"></canvas>

            </div>
          
            <div class="span3 offset2">


            </div>
          </div>



        </a>


        <div id="collapse@index" class="accordion-body collapse">
          <div class="accordion-inner">
            <strong>@game.descrip</strong>
            @form(routes.Application.deleteGame(game.id)) {
            <input class="btn btn-large btn-primary" type="submit" value="Delete">
          }


        </div>
      </div>
    </div>

  </div>
}
</div>


<div>

  <h2>Add a new game</h2>

  @form(routes.Application.newGame) {

  @inputText(gameForm("label")) 
  @inputText(gameForm("image")) 
  @inputText(gameForm("descrip")) 
  @inputText(gameForm("console")) 
  @inputText(gameForm("releasedate")) 
  @inputText(gameForm("rating")) 



  <input type="submit" value="Create">
}
</div>
</div>
</div>

}


